@scope (.garage) {
    :scope {
        max-width: 90%;
        margin-inline: auto;
        padding: 2rem;
        border: 2px solid black;
        background-color: darkslategrey;
    }

    img {
        display: block;
        max-width: max(50%, 250px);
        margin-inline: auto;
        perspective: 500px;
        aspect-ratio: 2 / 1;
        transform: rotateY(45deg);
        animation: rotate calc(var(--animation-speed) * 6) linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}