dialog {
    width: 500px;
    border: none;
    background-color: transparent;
    transition: all 0.5s linear allow-discrete;

    &[open] {
        &::backdrop {
            background-color: hsla(0, 0%, 0%, 50%);
        }

        >.menu-item {
            grid-template-columns: 3fr 40px;
        }
    }

    &::backdrop {
        background-color: hsla(0, 0%, 0%, 0%);
        transition: all 0.5s linear;
    }

    >.menu-item {
        margin-block-end: 4px;
        grid-template-columns: 0fr 40px;
        transition: all 0.5s linear;
    }
}

@starting-style {
    dialog[open]::backdrop {
        background-color: hsla(0, 0%, 0%, 0%);
    }

    dialog[open]>.menu-item {
        grid-template-columns: 0fr 40px;
    }
}