dialog {
    width: 500px;
    border: none;
    background-color: transparent;
    transition: all var(--animation-speed) linear allow-discrete;

    &[open] {
        &::backdrop {
            background-color: hsla(0, 0%, 0%, 50%);
        }

        .menu-item {
            grid-template-columns: 3fr 40px;
        }
    }

    &::backdrop {
        background-color: hsla(0, 0%, 0%, 0%);
        transition: all var(--animation-speed) linear;
    }

    a {
        text-decoration: none;
    }

    .menu-item {
        margin-block-end: 4px;
        grid-template-columns: 0fr 40px;
        transition: all var(--animation-speed) linear;
    }
}

@starting-style {
    dialog[open]::backdrop {
        background-color: hsla(0, 0%, 0%, 0%);
    }

    dialog[open] .menu-item {
        grid-template-columns: 0fr 40px;
    }
}